<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv='X-UA-compatible' content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <title>DateTime</title>
</head>
 <body>
  <div id="container">
          @{ DateTime CurrentTime = DateTime.Now; }  
        <div>
        <h3>The Current Date and Time</h3>
        </div>
        <div> 
            <p>Date: @CurrentTime.ToString("MMM d, yyy") </p>
            <p>Time: @CurrentTime.ToString("h:mm tt") </p>
        </div>


</div>
</body>

</html>