@model ProductsAndCategories.Models.Category
@{
    ViewData["Title"] = "Home Page";
}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
    <title>Category add form Page</title>

<body>
      <form action="NewCategory" method="POST">
        <label name="CategoryName">Category Name</label><br>

            <select>
                @foreach (var Category in ViewBag.Category)
                {
                   <option name="CategoryName">
                       @Category.CategoryName 
                   </option>
                }
            </select>
                
            




          <input type="submit" value="submit">
</form>
</body>
</html>